.cart-container{
    position: relative;
    width: 375px;
    i{
        color: #fff;
    font-size: 32px;
    display: block;
    margin: 0 15px 15px 15px;
    cursor: pointer;
    float: right;
    }
    .cart{
        position: absolute;
        right: 0;
        border: 1px solid #ccc;
        background: #fff;
        z-index: 100;
        overflow: auto;
        max-height: 300px;
        top: 40px;
        min-width: 400px;
        i{
            color: red;
            font-size: 20px;
            top: 10px;
        }
    }
    &>table{
        float: left;
        text-align: center;
        padding-top: 15px;
        th{
            height: 35px;
            line-height: 35px;
            color: #fff;
            padding: 0 5px;
        
        }
    }

}