.alert-cart{
    padding-top: 15px;
    position:absolute;
    min-height: 210px;
    width: 400px;
    background: #fff;
    z-index: 100;
    box-shadow: 0 0 8px 2px rgb(77, 76, 76);
    text-align: center;
    left: 34%;
    .alert{
        border-radius: 0;
    }
}
@media(max-width: 900px){
    .alert-cart{
    left:25%;
    }
}