
.page{
    min-height: 400px;
    padding: 15px;
    box-shadow: 0px 0px 6px 1px #000;
    margin: 15px 0;
}

.prod-wrap{
    box-shadow: 0 0px 3px 1px #000;
    text-align: center;
    padding: 15px;
    margin: 12px 0;
}
.img-cart{
    max-width: 50px;

}